# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
bnd
*.exe~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDE
.idea/

# Baidu PCS Client
pcs_command_history.txt
pcs_config.json
download/

# Test Resources
a.js

